@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies&display=swap')


root{
    --cor-fundo:#dddada93 ;
    --cor-azul-logo: #2c72dbd3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%; 
    background-color: #dddada93;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:#2362c067;
}

.logo{
    display: flex;
    align-items: flex-start;
    font-family: 'Rowdies', cursive;
    font-weight: 900;
    font-size: 32px;   
    padding: 0;
    text-shadow: 
    1px 1px 0 black,
    1px 1px 0 black;
}

.logo-perfil{
    color :  #4686e6d2;
}
.logo-tec{
    color :  #2c72db;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Righteous', cursive;
    color: #2c72db;
    font-weight: 300;
    font-size: 20px;
}

.corpo{
    
}